
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Measure Testing Dashboard </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-5 col-md-4 mr-0" href="#">OpenStudio Measure Testing Dashboard</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <div class="card-block">
                  <div class="card-body">
                    <h5 class="card-title">Tests</h5>
             
                    <% if @hash['minitest'] && @hash['minitest']['total_failures'] %>
                      <div class="row pt-5">
                      <% if @hash['minitest']['total_failures'] > 0 %>
                        <div class="col-sm-4 offset-sm-1 badge-height badge badge-danger"><span class='large-text'><%= @hash['minitest']['total_failures'] %></span></div>
                      <% else %>
                        <div class="col-sm-4 offset-sm-1 badge-height badge badge-success"><span class='large-text'><%= @hash['minitest']['total_failures'] %></span></div>
                      <% end %>
                      <% if @hash['minitest']['total_errors'] > 0 %>
                        <div class="col-sm-4 offset-sm-2 badge-height badge badge-danger"><span class='large-text'><%= @hash['minitest']['total_errors'] %></span></div>
                      <% else %>
                        <div class="col-sm-4 offset-sm-2 badge-height badge badge-success"><span class='large-text'><%= @hash['minitest']['total_errors'] %></span></div>
                      <% end %>
                      </div>
                      <div class="row">
                        <div class="col-sm-4 offset-sm-1 center-text"><span class="badge-text">Failures</span></div>
                        <div class="col-sm-4 offset-sm-2 center-text"><span class="badge-text">Errors</span></div>
                      </div>
                    <% end %>
                 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="card-block">
                  <div class="card-body">
                    <h5 class="card-title">OpenStudio Style</h5>
                    <div>
                      <% if @hash['openstudio_style'] && @hash['openstudio_style']['total_errors'] %>
                        <div class="row pt-5">
                        <% if @hash['openstudio_style']['total_errors'] > 0 %>
                          <div class="col-sm-4 offset-sm-4 badge-height badge badge-danger"><span class='large-text'><%= @hash['openstudio_style']['total_errors'] %></span></div>
                        <% else %>
                          <div class="col-sm-4 offset-sm-4 badge-height badge badge-success"><span class='large-text'><%= @hash['openstudio_style']['total_errors'] %></span></div>
                        <% end %>
                        </div>
                        <div class="row">
                          <div class="col-sm-4 offset-sm-4 center-text"><span class="badge-text">Errors</span></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="card-block">
                  <div class="card-body">
                    <h5 class="card-title">RuboCop</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card donut">
                <div class="card-block">
                  <div class="card-body">
                    <h5 class="card-title">Coverage</h5>
                    <div class="canvas-container">
                      <canvas id="cov"></canvas>
                      <span id="covPercent" class="status">%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="py-5">
            <h2>Measures</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm table-text">
                <thead>
                  <tr>
                    <th>Measure Name</th>
                    <th>Tests</th>
                    <th>OS Style Errors</th>
                    <th>RuboCop</th>
                    <th>Coverage</th>
                  </tr>
                </thead>
                <tbody>
                  <% @hash['coverage']['by_measure'].each do |name, measure| %>
                  <tr>
                    <td><%= name %></td>
                    <td>  
                      <% if  @hash['minitest']['by_measure'][name] %>
                        <span class="badge badge-danger"><%= @hash['minitest']['by_measure'][name]['measure_failures'] %></span>
                        <span class="badge badge-warning"><%= @hash['minitest']['by_measure'][name]['measure_errors'] %></span> 
                      <% end %>
                    </td>
                    <td><% if @hash['openstudio_style'] && @hash['openstudio_style']['by_measure'][name] %>
                          <% if @hash['openstudio_style']['by_measure'][name]['errors'] > 0 %>
                            <span class="badge badge-danger"><%= @hash['openstudio_style']['by_measure'][name]['errors'] %></span>
                          <% elsif @hash['openstudio_style']['by_measure'][name]['errors'] == 0 %>
                            <span class="badge badge-success"><%= @hash['openstudio_style']['by_measure'][name]['errors'] %></span>
                          <% end %>
                        <% end %>  
                    </td>
                    <td></td>
                    <td><%= measure['percent_coverage'] %> %</td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      (function(){
      var t;

      function size(animate){
        if (animate == undefined){
          animate = false;
        }
        clearTimeout(t);
        t = setTimeout(function(){
          $("canvas").each(function(i,el){
            $(el).attr({
              "width":$(el).parent().width(),
              "height":$(el).parent().outerHeight()
            });
          });
          redraw(animate);
          var m = 0;
          $(".card").height("");
          $(".card").each(function(i,el){ m = Math.max(m,$(el).height()); });
          $(".card").height(m);
        }, 30);
      }
      $(window).on('resize', function(){ size(false); });


      function redraw(animation){
        var data =  <%= @data %>;
        console.log('DATA: ', data);
        var covData = data['coverage'];
        // set % coverage
        document.getElementById("covPercent").innerHTML = covData['total_percent_coverage'] + '%';

        var options = {animation:{}};
        if (!animation){
          options.animation.animateRotate = false;
        } else {
          options.animation.animateRotate = true;
        }
        var data = {
          datasets:[{
            data: [
            covData['total_covered_lines'],
            covData['total_missed_lines'],
            ],
            backgroundColor: [
            "#50AE54",
            "#F2453D"
            ]
          }],
          labels: [
            "lines covered", 
            "lines missed",
          ]
        };

        var config = {type: 'doughnut', data: data, options: options};
        var canvas = document.getElementById("cov");
        var ctx = canvas.getContext("2d");
        var doughnut = new Chart(ctx, config);
      }
      size(true);

      }());

    </script>
  </body>
</html>
